@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(190, 120, 120);
}

.cardBg {
  width: 350px;
  height: 550px;
  border-radius: 10px;
}

.header {
}

.center {
}

.bottom {
}
